<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" scriptProcessor="D:\Python311\python.exe|D:\home\site\wwwroot\startup.txt" />
    </handlers>
    <httpPlatform processPath="D:\Python311\python.exe" arguments="D:\home\site\wwwroot\startup.txt" requestTimeout="00:04:00" startupTimeLimit="60" />
  </system.webServer>
</configuration> 